body {
  background-image: url("background.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  background-color: green;
  color: white;
  padding: 48px;
  margin: 0;
  border-radius: 50%;
  border: 4px solid white;
}

.message {
  background-color: white;
  width: 60vw;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  border: 2px solid red;
}

.heart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}